body {
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    width: 360px;
    border: 5px solid;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: black;
}

.display {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 70px;
    box-sizing: border-box;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    font-size: 32px;
    margin-bottom: 10px;
    background-color: white;
    border-color: white;
}

.num {
    font-size: 32px;
    padding: 5px 10px 5px 10px;
}

button {
    height: 80px;
    width: 80px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.equals {
    flex: 1;
}

.equals,
.operate {
    border: 5px solid green;
    background-color: green;
    font-size: 32px;
}

.num,
.decimal {
    border: 5px solid navy;
}

.num,
.decimal {
    background-color: navy;
}

.display,
.num,
.decimal,
.equals,
.operate,
.delete,
.back {
    border-radius: 5px;
    font-size: 40px;
}

.num,
.decimal,
.equals,
.operate,
.delete,
.back {
    color: white;
}

button:hover {
    opacity: 0.5;
    
}

.delete {
    width: 75px;
}

.delete,
.back {
    border: 5px solid orange;
    background-color: orange;
    font-size: 32px;
}

h1,
h3 {
    margin-bottom: 5px;
}